*{
    padding-left: 0;
    text-decoration: none;
}
body{
    background-color: #fbdcdc;
    height: 100%;
    margin: 0;  
}
.birthdaycard{
    position: relative;
    width: 300px;
    height: 395px;
    border: 10px solid #ef5050;
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(223, 221, 221, 0.1);
    background-image: url(/Birthday\ 2fea1385e4d029bccf2aeacc960bc50e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    width: 80%;
    height: 80%;
    margin: auto;
    font-family: 'Nobile',sans-serif;
     margin-top: -12 cm;
    >p {
        font-size: 1.1em;
        color: rgb(94, 212, 248);
        list-style: 1.4;
        font-style: italic;
        text-align: center;
        margin: 30px auto 0 auto;
        margin-top: -12cm;
    }
    .title{
        font-size: 1.5em;
        /* margin: 60px auto 60px auto; */
        margin-top: 10cm;
    }
    .cover-outer{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: -10px solid #000;
        backface-visibility: hidden;
        margin-top: 10cm;
    }
    img{
        box-shadow: #050101;
        border-radius: 5px;
    }
    .cover-inner{
        position: absolute;
        width: 100%;
        height: 100px;
        border: 20px solid rgb(6, 1, 2);
        background-color: rgb(6, 1, 2);
        margin: -10px 0px 0 -10px;
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(800px) rotateY(0deg);
        transition: all 0.8s ease-in-out;
        overflow: hidden;
        margin-top: 10cm;
    }
    img{
        transform: rotateY(-170deg);
        margin-top: 10cm;
    }
}
.birthdaycard:hover{
    
    .cover-outer{
        transform: perspective(800px) rotateY(-170deg);
        margin-top: -5.4cm;
        border: 20px solid #ef5050;
        margin-left: -2px;
        width: 95%;
        height: 95%;
    }
    .cover-inner{
        transform: perspective(800px) rotateY(-170deg);
        margin-top: -5.4cm;
        
    }
}
